* {
	margin: 0;
	padding: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 7vh;
  background-color:black;
  z-index: 10;
  padding-left:2vw;
  padding-top:2vh;
}

.judul {
	width: 80vw;
	margin-right: 10vw;
	margin-left: 10vw;
	margin-top: 10vh;
	padding-top: 10vh;
}

.isi .subtitle {
	width: 50vw;
	margin-right: 10vw;
	margin-left: 40vw;
	margin-top: 10vh;
	
}

.isi .body_text {
	width: 50vw;
	margin-right: 10vw;
	margin-left: 40vw;
    padding-bottom: 3vh;
}

.isi .caption2 {
    width: 20vw;
	margin-left: 18vw;
	position: absolute;
	margin-top: 16vh;
}

.isi .caption3 {
    width: 20vw;
	margin-left: 18vw;
	position: absolute;
	
}

.isi .quote {
	width: 28vw;
	margin-right: 12vw;
	margin-left: 10vw;
	position: absolute;
}


.masuk .body_text1 {
	width: 48vw;
	margin-right: 10vw;
	margin-left: 42vw;
    padding-bottom: 3vh;
  
}


.isi .angka1_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka2_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka3_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka4_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka5_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka6_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka7_1 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka1_2 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka2_2 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

.isi .angka3_2 {
	width: 1vw;
	margin-right: 10vw;
	margin-left: 40vw;
	position: absolute;
}

table {
	width: 50vw;
	margin-right: 10vw;
	margin-left: 40vw;
	margin-bottom: 4vh;

}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}



@media (max-width: 375px) {
  .nav {
    height:5vh;
  }
nav main a {
  
  padding-left: 15vw;
 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 5vh;
  background-color:black;
  z-index: 10;
  padding-left:0vw; 
}

.judul {
	width: 80vw;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 10vh;
	padding-top: 10vh;
}

.isi .subtitle {
	width: 80vw;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 10vh;
	
}

.isi .body_text {
	width: 80vw;
	margin-right: 5vw;
	margin-left: 5vw;
    padding-bottom: 3vh;
}

.isi .caption2 {
    width: 80vw;
	margin-right: 5vw;
	margin-left: 5vw;
	margin-top: 0vh;
	padding-bottom: 2vh;
	position: relative;

}

.isi .caption3 {
    width: 80vw;
	margin-right: 10vw;
	margin-left: 10vw;
	margin-top: 0vh;
	padding-bottom: 2vh;
	text-align: center;
	position: relative;
	
}

.isi .quote {
	width: 80vw;
	margin-right: 10vw;
	margin-left: 10vw;
	padding-bottom: 1vh;
	position: relative;

}

.masuk .body_text1 {
	width: 75vw;
	margin-left: 12vw;
    padding-bottom: 3vh;
}


.isi .angka1_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka2_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka3_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka4_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka5_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka6_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka7_1 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka1_2 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka2_2 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

.isi .angka3_2 {
	width: 1vw;
	margin-left: 8vw;
	position: absolute;
	text-align: left;
}

table {
	width: 80vw;
	margin-right: 5vw;
	margin-left: 9vw;
	margin-top: 0vh;
	padding-bottom: 2vh;
	position: relative;


}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}

}

